@page
@model FitTrackPro.Pages.ProgressTracking.IndexModel
@{
    ViewData["Title"] = "Progress Dashboard";

}
<div>
    <a href="/ProgressTracking/BodyMetrics" class="btn btn-primary">Body Composition Metrics</a>
    <a href="/ProgressTracking/BodyMetrics" class="btn btn-primary">Workout Metrics</a>
    <a href="/ProgressTracking/BodyMetrics" class="btn btn-primary">Calorie Metrics</a>
</div>
